<h1>All Posts:</h1>
    <% if Post.all.empty? %>
        <div>No post activity</div>
    <% else %>
    <ul><% Post.all.each do |post| %>
        <li><%= link_to "#{post.title} from #{post.date}", post %></li>
    <% end %> </ul>
<% end %>