header {
    background: rgb(94, 170, 206);
    padding: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
    }

    h1 {
      color: white;
      font-family: Brush Script MT;
      font-size: -webkit-xxx-large;
    }

    h4 {
        margin-inline-start: 50px;
    }
  }
  
  .left-nav {
    float: left;
    padding: 10px;
  }
  
  .right-nav {
    float: right;
    padding: 10px;
  }