<%= image_tag('/images/north-cascades.jpg', size: "1000x563",alt: "North Cascades") %>
<h1>Recent Posts:</h1>
    <% if Post.all.empty? %>
        <div>No recent post activity</div>
    <% else %>
    <ul><% Post.all.each do |post| %>
        <li><%= link_to "#{post.title} from #{post.date}", post %></li>
    <% end %> </ul>
<% end %>

