<figure>
<%= image_tag('/images/location_map.png', size: "500x428", alt: "Location Map") %>
<figcaption>Regions and weather stations from <a href = "https://www.nwac.us/weatherdata/map/">NWAC</a></figcaption>
</figure>
<div id="list"><% Location.all.each do |location| %>
    <li><%= link_to location.name, location %></li>
<% end %></div>